body,
html {
  height: 100%;
  margin: 0;
}

.app-body {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1,
p {
  color: aliceblue
}

input {
  border-radius: 10px;
  font-size: 20px;
}

button{
  padding: 4px;
  background-color: red;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style:italic;
  left: 10px;
  position: relative;
}

img {
  border-radius: 50px ;
  position: relative;
  top: 20px;
  border-style: groove;
}